/*
* @Author: dell
* @Date:   2018-03-08 18:01:10
* @Last Modified by:   dell
* @Last Modified time: 2018-03-16 18:25:19
*/
.box{
	width: 253px;
	height: 532px;
	margin: 2px auto;
	background: #2f2f31;
    border-radius: 17px;
    /* 内阴影 水平垂直 模糊程度 程度大小*/
    box-shadow:  0 0 4px 2px  black ;
    overflow: hidden;
    
}
.box1{
	width: 239px;
	height: 22px;
	background: #020106;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;	
	float: left;
	margin-top: 6px;
	margin-left: 7px;
    box-shadow:  0 0 4px 4px  black;
}
.box2{
	width: 239px;
	height:475px;
	border-radius: 10px;
	float: left;
	margin-top: 2px;
	margin-left: 7px;
    box-shadow:  0 0 2px 4px  black;

}
.box3{
	width: 242px;
	height: 20px;
	float: left;
	margin-top:-1px;
	margin-left: 6px;
	background: #020106;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	box-shadow:  0 2px 4px 1px  black ;
}
.photo{
	width: 11px;
	height: 11px;
	background: #262b48;
	margin: auto auto;
	margin-top: 4px;
	border-radius: 50%;
	box-shadow:  0 0px 2px 2px #474745  inset;

}
.anjian{
	width: 3px;
	height: 15px;
	background: #060608;
	position: absolute;
	top: 191px;
	left: 0;
    border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
.anjian1{
    width: 3px;
	height: 15px;
	background: #060608;
	position: absolute;
	top: 128px;
    right: 0;
    border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
.anjian2{
    width: 3px;
	height: 15px;
	background: #060608;
	position: absolute;
	top: 170px;
    right: 0;
    border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
.anjian3{
    width: 3px;
	height: 15px;
	background: #060608;
	position: absolute;
	top: 232px;
    right: 0;
    border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
.box0{
	width: 260px;
	height: 532px;
	margin: 2px 15%;
	overflow: hidden;
    position: relative;
    float: left;
}
.back{
	width: 253px;
	height: 532px;
	margin: 2px auto;
	overflow: hidden;
    position: relative;
    background: #080808;
    border-radius: 17px;
    box-shadow:  0 0 4px 2px  black ;
    overflow: hidden;
}
.mobile1{
	width: 1200px;
	height: 532px;
	float: left;
    margin: 0 auto;
	
}
.backbox{
	width: 260px;
	height: 532px;
	margin: 2px auto;
	overflow: hidden;
    position: relative;
    float: left;
}
.anjiana{
	width: 3px;
	height: 15px;
	background: #060608;
	position: absolute;
	top: 191px;
	right: 0;
    border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
    
}
.anjianb{
	width: 3px;
	height: 15px;
	background: #060608;
	position: absolute;
	top: 128px;
	left: 1px;
    border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
.anjianc{
	width: 3px;
	height: 15px;
	background: #060608;
	position: absolute;
	top: 170px;
	left: 1px;
    border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
.anjiand{
	width: 3px;
	height: 15px;
	background: #060608;
	position: absolute;
	top: 232px;
	left: 1px;
    border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
.shexiang{
	width: 34px;
	height: 34px;
	border-radius: 50%;
    background: #050505;
    margin-top: 8px;
    margin-left: 9px;
    float: left;
    box-shadow:  0 0px 2px 2px #999999  inset;
    overflow: hidden;
    
}
.shexiang1{
	width: 16px;
	height: 16px;
	border-radius: 50%; 
    background: #17181a;
	margin-right:  9px;
    margin-top: 9px ;
    float: right;
    box-shadow:  0 0px 2px 2px #050503  ;
    overflow: hidden;
}
.shexiang2{
	width: 7px;
	height: 7px;
	border-radius: 50%; 
	background: #35426e;
	margin-right:  4px;
    margin-top: 4px ;
    float: right;
    box-shadow:  0 0px 2px 2px #1e1a19  ;
    overflow: hidden;
}
.shexianga{
	width: 10px;
	height: 10px;
	border-radius: 50%; 
	background: #1e252b;
	margin-left:  11px;
    margin-top:20px ;
    float: left;
    box-shadow:  0 0px 2px 4px #000000  ;
    overflow: hidden;
}
.shexianga1{
	width: 4px;
	height: 4px;
	border-radius: 50%; 
	background: #27304d;
	margin-left:  3px;
    margin-top:3px ;
    float: left;
}
.shexiangc{
	width: 17px;
	height: 17px;
	float: left;
	margin-left:  10px;
    margin-top:17px ;
}
.loge{
	width: 63px;
	height: 63px;
	float: left;
	margin-left:  0px;
    margin-top:  125px ;
}
.shangbiao{
	width: 56px;
	height: 14px;
	margin-left:  94px;
    margin-top:  470px ;
}
.box2 a{
	display: block;
	width:237px; 
	height: 475px;

}
.box2 a:hover{
	background:url(../img/pingmu.png) no-repeat 0px 0px; 
	 transition: 1s linear; 
}